@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=El+Messiri:wght@400;500;600;700&display=swap");

/* CSS RESET */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
  scroll-behavior: smooth;
  background-color: var(--color-primary-offwhite);
}

body {
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  font-family: var(--font-secondary);
  background-color: #f9f3ed;
}

h1 {
  font-family: var(--font-primary);
  margin-bottom: 1rem;
}

h2,
h3 {
  font-family: var(--font-secondary);
  margin-bottom: 1rem;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
}

p,
a {
  color: var(--color-navy);
}

/* REGULAR CSS STYLING BELOW */

/* --- CSS FONT VARIABLES*/
:root {
  /* FONTS */
  --font-primary: "Dela Gothic One", sans-serif;
  --font-secondary: "Lato", sans-serif;
  --font-logo: "El Messiri", sans-serif;

  /* primary - offwhite */
  --color-primary-offwhite: #f9f3ed;
  --color-primary-offwhite-600: #f4c0ac;
  --color-primary-offwhite-700: #ee9d7f;
  --color-primary-offwhite-800: #e87b52;
  --color-primary-offwhite-900: #e25825;

  /* secondary - green */
  /* --color-secondary-green: #505851;
  --color-secondary-green-600: #444b45;
  --color-secondary-green-700: #2c302c;
  --color-secondary-green-800: #131514;
  --color-secondary-green-900: #000000; */

  /* accent - red */
  --color-accent-red: #d1242d;
  --color-accent-red-600: #bb2028;
  --color-accent-red-700: #90191f;
  --color-accent-red-800: #641116;
  --color-accent-red-900: #390a0c;

  /* navy */
  --color-navy: #475170;
  --color-navy-600: #010515;
  --color-navy-700: #000000;

  /* white */
  --color-white: #ffffff;
  --color-white-600: #f2f2f2;
  --color-white-700: #d9d9d9;
  --color-white-800: #bfbfbf;
  --color-white-900: #a6a6a6;
}

/* ----- LANDING PAGE -----*/

.HeroTop {
  height: 65vh;
  background-image: url(../Assets/bistrofront.jpg);
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.HeroTop h1 {
  font-size: 2rem;
  color: var(--color-white);
}

#TopQuote {
  height: 30vh;
  font-family: var(--font-secondary);
  border-bottom: 1px var(--color-navy) solid;
}

/* #TopQuote::before {
  content: "\301D";
  font-size: 4rem;
  height: 100%;
  width: 100%;
} */

#TopQuote {
  margin: 3rem;
}

/* navigation */
#home_link_mobile {
  color: var(--color-navy);
  font-family: var(--font-logo);
  font-size: 1.7rem;
  flex-grow: 2;
}

.logotype,
.home_link {
  font-family: var(--font-logo);
}
.logotype {
  font-size: 4rem;
  color: var(--color-white);
  font-weight: 700;
}

.NavBar {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: space-between;
  padding: 0.4rem;
  border-bottom: 3px solid var(--color-navy);
  align-items: center;
}
.cart {
  background-image: url(../Assets/clarity_shopping-cart-linecart.svg);
  background-size: 2rem;
  width: 2rem;
  height: 2rem;
  background-repeat: no-repeat;
}

/* sticky menu */
.sticky_nav_menu {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  position: sticky;
  top: 1.2rem;
}
.list_menu_sticky {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

/* burger menu */
.burger_menu div {
  background-color: var(--color-accent-red);
  width: 2rem;
  height: 0.3rem;
  margin: 5px;
  border-radius: 3px;
}
.burger_menu {
  display: none;
}
.list_menu_burger {
  display: none;
}
.line1,
.line2,
.line3 {
  transition: transform 400ms ease-in-out;
}
.submenu {
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
  z-index: 2;
}
.menu_name {
  font-weight: 700;
  font-size: 1.2rem;
}
.menu_name1 {
  font-weight: 700;
  font-size: 1.2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.menu_name1::after {
  content: "+";
  height: auto;
  width: auto;
  margin: 0 1.7rem;
}
li {
  height: 100%;
}
@media only screen and (max-width: 600px) {
  .burger_menu {
    display: block;
    cursor: pointer;
    /* position: relative; */
    left: 85%;
  }
  .list_menu_burger {
    display: flex;
    flex-direction: column;
    gap: 0;
    align-items: left;
    position: absolute;
    right: 0;
    top: 0;
    height: auto;
    top: 3.5rem;
    width: 60%;
    background-color: var(--color-primary-offwhite);
    justify-content: flex-start;
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;

    border-bottom-left-radius: 10%;
    border: 3px solid var(--color-navy);
    text-align: center;
  }

  html {
    /* lacj https://stackoverflow.com/questions/24193272/overflow-xhidden-on-mobile-device-not-working#:~:text=html%20%7B%0A%20%20...%0A%20%20overflow%2Dx%3A%20hidden%3B%0A%7D%0A%0Abody%20%7B%0A%20%20...%0A%20%20position%3A%20relative%3B%0A%20%20overflow%2Dx%3A%20hidden%3B%0A%7D */
    overflow-x: hidden;
  }

  body {
    position: relative;
    overflow-x: hidden;
  }

  .list_menu_sticky {
    display: none;
  }
  .home_link {
    display: none;
  }
  .line1_active {
    transform: rotate(45deg) translateX(7px) translateY(10px);
    transition: transform 400ms ease-in-out;
  }
  .line3_active {
    transform: rotate(-45deg) translateX(3px) translateY(-7px);
    transition: transform 400ms ease-in-out;
  }
  .line2_active {
    transform: translateX(100vh);
    transition: transform 400ms ease-in-out;
  }
  .list_menu_active {
    transform: translateX(0);
  }
  .list_menu_burger li,
  .list_menu_active li {
    border-bottom: 3px solid var(--color-navy);
    padding: 1rem 0;
  }
  .list_menu_burger li:last-child {
    border-bottom: none;
  }
  /* .first_menu_item:hover .submenu {
    display: flex;
    flex-direction: column;
    gap: 0.9rem;
    z-index: 2;
  } */
  .submenu {
    padding-top: 0.9rem;
  }
  .flag_dk {
    background-image: url(../Assets/circle-flags_dkcircle_flag_dk.svg);
    background-size: 1.8rem;
    width: 1.8rem;
    height: 1.8rem;
  }
  .flag_en {
    background-image: url(../Assets/circle-flags_encircle_flag_en.svg);
    background-size: 1.8rem;
    width: 1.8rem;
    height: 1.8rem;
  }
  .flags {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
}
/* flags */

/* links */
a {
  text-decoration: none;
  cursor: pointer;
}

a:link {
  color: var(--color-navy);
}

a:visited {
  color: var(--color-primary-offwhite-600);
}
a:hover {
  color: var(--color-accent-red);
}
a:active {
  color: var(--color-white);
}

/* quote */
.quote::before {
  content: open-quote;
  font-size: 6rem;
  color: var(--color-accent-red);
}
.quote::after {
  content: close-quote;
  font-size: 6rem;
  color: var(--color-accent-red);
}

/* FOOTER */

iframe {
  max-width: 100%;
}

.footercontainer {
  border-top: 3px solid var(--color-navy);
  display: grid;
  grid-template-columns: 1fr;
}
.footercontainer1 {
  margin-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2rem;
}

.fc11 {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  padding: 0 2rem;
}

.footercontainer2 {
  padding-top: 2rem;
  text-align: center;
}

.fc2 {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.fc21 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 1.2rem;
}

.fc211 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 0.5rem;
}

.fc213 {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.fc24 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.footercontainer4 {
  padding: 1rem 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 5px;
  justify-content: center;
  align-items: center;
  border-top: 3px solid var(--color-navy);
}

.hidden {
  display: none;
}

@media only screen and (min-width: 601px) {
  .footercontainer {
    border-left: 3px solid var(--color-navy);
    border-right: 3px solid var(--color-navy);
  }
  .footercontainer1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .footercontainer2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 2rem;
  }

  .fc2 {
    row-gap: 10px;
  }

  .fc24 {
    justify-content: space-between;
  }
  .footercontainer3 {
    display: inline;
    padding: 2rem 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .footercontainer3 a {
    text-decoration: underline var(--color-navy);
  }

  .justifiedtext {
    text-align: left;
  }

  .fc213 {
    align-items: flex-start;
  }
}
