import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
/* CSS RESET */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100%;
  font-family: var(--font-secondary);
  background-color: #f9f3ed;
}

h1 {
  font-family: var(--font-primary);
  margin-bottom: 1rem;
}

h2,
h3 {
  font-family: var(--font-secondary);
  margin-bottom: 1rem;
}
a {
  text-decoration: none;
  transition: all 0.2s ease;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
}

/* REGULAR CSS STYLING BELOW */

/* Font import */

/* Variables */
/* --- CSS FONT VARIABLES*/
:root {
  /* FONTS */
  --font-primary: "Dela Gothic One", sans-serif;
  --font-secondary: "Lato", sans-serif;

  /* primary - offwhite */
  --color-primary-offwhite: #f9f3ed;
  --color-primary-offwhite-600: #f4c0ac;
  --color-primary-offwhite-700: #ee9d7f;
  --color-primary-offwhite-800: #e87b52;
  --color-primary-offwhite-900: #e25825;

  /* secondary - green */
  --color-secondary-green: #505851;
  --color-secondary-green-600: #444b45;
  --color-secondary-green-700: #2c302c;
  --color-secondary-green-800: #131514;
  --color-secondary-green-900: #000000;

  /* accent - red */
  --color-accent-red-50: rgb(209, 36, 45, 0.3);
  --color-accent-red-300: #f7979c;
  --color-accent-red-400: #e65057;
  --color-accent-red: #d1242d;
  --color-accent-red-600: #bb2028;
  --color-accent-red-700: #90191f;
  --color-accent-red-800: #641116;
  --color-accent-red-900: #390a0c;

  /* blue */
  --color-blue: #475170;
  --color-blue-600: #30374d;
  --color-blue-700: #141720;

  /* white */
  --color-white: #ffffff;
  --color-white-600: #f2f2f2;
  --color-white-700: #d9d9d9;
  --color-white-800: #bfbfbf;
  --color-white-900: #a6a6a6;
}

/* font */

/* ----- LANDING PAGE -----*/
header {
  height: 5vh;
}
.HeroTop {
  height: 65vh;
  background-image: url(Assets/bistrofront.jpg);
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.HeroTop h1 {
  font-size: 2rem;
  color: var(--color-white);
}

#TopQuote {
  height: 30vh;
  font-family: var(--font-secondary);
  font-size: 2rem;
  border-bottom: 1px var(--color-navy) solid;
}

/* #TopQuote::before {
  content: "\301D";
  font-size: 4rem;
  height: 100%;
  width: 100%;
} */
